################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/2021202033_윤성민_ver2/.vs/2021202033_윤성민_ver2/v17/Browse.VC.db
/2021202033_윤성민_ver2/.vs/2021202033_윤성민_ver2/v17/Browse.VC.db-wal
/2021202033_윤성민_ver2/.vs/2021202033_윤성민_ver2/v17/Browse.VC.db
*.db-shm
*.opendb
